.form_control{
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5em;
}

.form_control label{
    margin-bottom: .6em;
    font-weight: bold;
}

.form_control select{
    padding: 0.5em;
    margin-bottom: 0.5em;
    border-radius: 0;
    border: none;
    background-color: white;
    color: #7b7b7b;
}


.form_control input{
    display: flex;
    padding: .7em;
    border-radius: 0;
    border: none;
    margin-bottom: 0.5em;
}
.form_control input::placeholder{
    color: #7b7b7b;
}

.inLine{
    display: flex;
    justify-content: space-between;
}

